<ion-app>
  <ion-split-pane contentId="mainContent">

    <ion-menu menuId="pages" contentId="mainContent" side="start">
      <ion-header>
        <ion-toolbar>
          <ion-title>Pages Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-menu menuId="admin" contentId="mainContent" side="end" type="push">
      <ion-header>
        <ion-toolbar>
          <ion-title>Admin Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle menu="admin" auto-hide="false" *ngFor="let p of adminPages"> <!--Must specify menu, otherwise will toggle menu above-->
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="mainContent"></ion-router-outlet>
  </ion-split-pane>

</ion-app>